

<div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
    <div><strong> Studieninteressenten</strong><br>
        <br><u>Bewerbung</u>
        <br><u>Beratung</u>
        <br><u>Tag der offenen Tür</u>
    </div>
       
    
    <div><strong>Rund ums Studium</strong><br>
        <br><u>OVGU Homepage</u>
        <br><u>Studentenwerk</u>
        <br><u>Campus & Stadt</u>
    </div>

    <div><strong>Service</strong><br>
        <br><u>Campus Service Center</u>
        <br><u>Studienberatung</u>
        <br><u>Wigtige Rufnummern</u>
    </div>

    <div><strong>zum Studienportal</strong><br>
        <br><u>Allgemeine Unterstützung</u>
        <br><u>FAQ</u>
        <br><u>Ein Problem melden</u>
    </div>
    <div><br></div>
</div>
