<div class="veranstaltungen" fxLayout="row" fxLayoutAlign="space-between none">
    <div class="column" fxLayout="column" fxLayoutAlign="start">
        <div class="title"> <span>VERANSTALTUNGSVERZEICHNIS</span></div>

        <button fxLayout="row" mat-stroked-button class="button1" routerLink="/gesamt-veranstaltungen">
                <div class="text" >
                    <p><strong>3D Game Projekt</strong></p>
                     <h3>Theisel</h3>
                </div>
                <div class="subtext" style="text-align: right;">
                    <p>Praktikum</p>
                </div>
                
        </button>

         <button fxLayout="row" mat-stroked-button class="button2">
            <div class="text2">
                <p><strong>Algorithmen und Datenstrukturen</strong></p>
                <h3>Rössl</h3>
            </div> 
         </button>

         <button fxLayout="row" mat-stroked-button class="button3">
            <div class="text3">
                <p><strong>Anwendungssysteme</strong></p>
                <h3>Turowski</h3>
            </div>   
         </button>

         <button fxLayout="row" mat-stroked-button class="button4">
            <div class="text4">
                <p><strong>Computerspeilanalzse</strong></p>
                <h3>Biermann</h3>
            </div>   
         </button>

         <button fxLayout="row" mat-stroked-button class="button5">
            <div class="text5">
                <p><strong>Bioinformatik</strong></p>
                <h3>Nürnberger</h3>
            </div> 
             
         </button>

         <button fxLayout="row" mat-stroked-button class="button6">
            <div class="text6">
                <p><strong>Data Mining - Einfürung in Data Mining</strong></p>
                <h3>Spiliopoulou, beyer, Schleicher</h3>
            </div>   
         </button>

         <button fxLayout="row" mat-stroked-button class="button7">
            <div class="text7">
                <p><strong>Datenbanken 1</strong></p>
                <h3>Saake</h3>
            </div>   
         </button>

         <button fxLayout="row" mat-stroked-button class="button8">
            <div class="text8">
                <p><strong>Usability & Ästhetik</strong></p>
                <h3>Arndt</h3>
            </div>   
         </button>


    </div>

</div>
