<div class="mein-semester1" fxLayout="row" fxLayoutAlign="space-between none">
    <div class="column" fxLayout="column" fxLayoutAlign="start">
        <div class="title">  <h1>MEIN SEMESTER PLANNEN</h1></div>
        <button fxLayout="row" mat-stroked-button class="button1" routerLink="/gesamt-veranstaltungen">
            <div class="text">
                <p><strong>Vernastaltungen fur deinen studiengang</strong></p>
                <h5>Bachelor Informatik</h5>
            </div>   
         </button>

         <button fxLayout="row" mat-stroked-button class="button2">
            <div class="text2">
                <p><strong>Vernastaltungen fur dieses Semester</strong></p>
            </div>   
         </button>

         <button fxLayout="row" mat-stroked-button class="button3">
            <div class="text3">
                <p><strong>StudienPortal</strong></p>
            </div>   
         </button>
    </div>
    <div class="column2" fxLayout="column" fxLayoutAlign="start">
        <button fxLayout="row" mat-stroked-button class="button4">
            <span><strong>SportKurse </strong> </span> 
            <img src="assets/image/SportKurze.jpg">
         </button>

         <button fxLayout="row" mat-stroked-button class="button5">
            <span><strong>SprachKurse</strong></span> 
            <img src="assets/image/Sprachkurse.jpg"> 
         </button>

         <button fxLayout="row" mat-stroked-button class="button6">
            <span><strong>Semester im Ausland </strong>  </span>
            <img src="assets/image/studying.jpg">
         </button>
    </div>
</div>


