<div class="mein-semester" fxLayout="row" fxLayoutAlign="space-between none" >
    <div  class="column1" fxLayout="column" fxLayoutAlign="start" >
         <div class="div1"><h1>MEIN SEMESTER</h1></div>
         <div class="div2"> 	
             <button fxLayout="row" mat-stroked-button class="button1" routerLink="/mein-semester">
                 <div>
                     <h3><strong>Mein Semester planen</strong></h3>
                     <p>Organisiere deine Vernastaltungen für dieses Halbjahr und finde heraus, was die Universität noch anbietet</p>
                 </div>    
                 <div>
                     <p>hallo</p>
                 </div>   
              </button>
         </div>
         <div class="div3"> 	
            <button mat-stroked-button class="button1">
                <h3><strong>Stundenplan</strong></h3>
               
           </button>
         </div>
         <div class="div4"> 	
            <button mat-stroked-button class="button1">
                <h3><strong>Kalender</strong></h3>
                
            </button>
          </div>
    </div>
    <div class="column2" fxLayout="column" fxLayoutAlign="start start" >
        <h1>2.column</h1>
    </div>
</div>
