.mein-semester {
    margin: 0px 55px 0px 55px;
}
.column1 {
    margin: 0px;
}
.div1 {
    color: #850444;
}
.button1 {
     width: 700px;
     height: 100px;
}
.div1, .div2, .div3, .div4 {
    margin: 10px 0px 10px 0px;
}